#! pip install -r requirements.txt 

#* to run the Streamlit app
#! streamlit run app.py #! to run the Streamlit app
#* stop the Streamlit app
#! pkill -f streamlit


numpy
pandas
scikit-learn #! face recognition
dlib-bin #! face recognition


git+https://github.com/ageitgey/face_recognition_models
setuptools 

supabase #! Supabase client library for Python
bcrypt #! password hashing

segno #! QR code generation
pillow  #! image processing


streamlit #! web app framework
